<div th:fragment="menu" class="menu">
    <ul class="menu">
        <li><a href="/"><img src="/icons/triangle128px.png"></a></li>
        <li><a href="/">Главная</a></li>
        <li>Площадь:</li>
        <li><a href="/BaseAndHeightMethod">Через основание и высоту</a></li>
        <li><a href="/HeronsFormulaMethod">Через формулу герона</a></li>
        <li><a href="/EquilateralTriangleMethod">Через сторону равностороннего треугольника</a></li>
        <li><a href="/TwoAdjacentSidesMethod">Через две смежные стороны</a></li>
        <li><a href="/InscribedCircleRadiusMethod">Через радиус вписанной окружности</a></li>
        <li><a href="/CircumscribedCircleRadiusMethod">Через радиус описанной окружности</a></li>
        <li><a href="FeedbackInput">Обратная связь</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Triangle">Wikipedia</a></li>
    </ul>
    <ul class="alt-menu">
        <li><a href="/">S:</a></li>
        <li><a href="/BaseAndHeightMethod">1</a></li>
        <li><a href="/HeronsFormulaMethod">2</a></li>
        <li><a href="/EquilateralTriangleMethod">3</a></li>
        <li><a href="/TwoAdjacentSidesMethod">4</a></li>
        <li><a href="/InscribedCircleRadiusMethod">5</a></li>
        <li><a href="/CircumscribedCircleRadiusMethod">6</a></li>
        <li><a href="FeedbackInput"><img src="/icons/feedback24px.png"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Triangle">Wiki</a></li>
    </ul>
</div>