<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback Input</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/icons/favicon_io/favicon.ico" type="image/x-icon">
</head>
<body>
    <div th:insert="/elements/menu :: menu"></div>
    <div class="page">
        <h1>Оставить отзыв</h1>
        <div class="block_input">
            <table>
                <form action="http://g06u33.nn2000.info/cgi-bin/form_action.py" target="_blank" method="post">
                    <tr>
                        <label for="message">Комментарий:</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Имя:</label>
                            <input type="text" name="name" id="name" placeholder="Введите имя">
                            <br><br>
                            <label for="surname">Фамилия:</label>
                            <input type="text" name="surname" id="surname" placeholder="Введите фамилию">
                            <br><br>
                            <label for="telephone">Номер телефона:</label>
                            <input type="tel" name="telephone" id="telephone" placeholder="+7 999 999 9999">
                            <br><br>
                            <label for="email">Эл. почта:</label>
                            <input type="email" name="email" id="email" placeholder="qwerty@example.com">
                            <br><br>
                            <button type="submit" name="submit" class="btn">Отправить!</button>
                        </td>
                        <td>
                            <img src="/icons/math128px.png">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
</html>