<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div th:insert="/elements/menu :: menu"></div>
    <div class="page">
        <h1>Треугольники. Общие сведения</h1>
        <img class="triangle_example" src="/icons/triangle-example256px.png">
        <p>
            Треугольник (в евклидовом пространстве) — геометрическая фигура, образованная тремя отрезками,
            которые соединяют три точки, не лежащие на одной прямой.
            Указанные три точки называются вершинами треугольника, а отрезки — сторонами треугольника.
            Часть плоскости, ограниченная сторонами, называется внутренностью треугольника:
            нередко треугольник рассматривается вместе со своей внутренностью
            (например, для определения понятия площади).
        </p>
        <p>
            Стороны треугольника образуют в вершинах треугольника три угла,
            поэтому треугольник можно также определить как многоугольник, у которого имеется ровно три угла,
            т.е. как часть плоскости, ограниченную тремя отрезками, которые соединяют три точки,
            не лежащие на одной прямой. Треугольник является одной из важнейших геометрических фигур,
            повсеместно используемых в науке и технике,
            поэтому исследование его свойств проводилось начиная с глубокой древности.
        </p>
        <p>
            Стороны треугольника образуют в вершинах треугольника три угла,
            поэтому треугольник можно также определить как многоугольник, у которого имеется ровно три угла,
            т.е. как часть плоскости, ограниченную тремя отрезками, которые соединяют три точки,
            не лежащие на одной прямой. Треугольник является одной из важнейших геометрических фигур,
            повсеместно используемых в науке и технике,
            поэтому исследование его свойств проводилось начиная с глубокой древности.
        </p>
        <p>
            Понятие треугольника допускает различные обобщения.
            Можно определить это понятие в неевклидовой геометрии (например, на сфере):
            на таких поверхностях треугольник определяется как три точки, соединённые геодезическими линиями.
            В n-мерной геометрии аналогом треугольника является n-й мерный симплекс.
        </p>
        <p>
            Иногда рассматривают вырожденный треугольник, три вершины которого лежат на одной прямой.
            Если не оговорено иное, треугольник в данной статье предполагается невырожденным.
        </p>
        <table class="classification">
            <caption>Классификация треугольников</caption>
            <tr>
                <th colspan="3">По величине углов</th>
            </tr>
            <tr>
                <th>Остроугольный</th>
                <th>Тупоугольный</th>
                <th>Прямоугольный</th>
            </tr>
            <tr>
                <th><img src="/icons/acute-triangle128px.png"></th>
                <th><img src="/icons/obtuse-triangle128px.png"></th>
                <th><img src="/icons/right-triangle128px.png"></th>
            </tr>
            <tr>
                <th colspan="3">По числу равных сторон</th>
            </tr>
            <tr>
                <th>Разносторонний</th>
                <th>Равнобедренный</th>
                <th>Равносторонний</th>
            </tr>
            <tr>
                <th><img src="/icons/scalene-triangle128px.png"></th>
                <th><img src="/icons/isosceles-triangle128px.png"></th>
                <th><img src="/icons/equilateral-triangle128px.png"></th>
            </tr>
        </table>
        <h2 class="history">История изучения</h2>
        <p>
            Свойства треугольника, изучаемые в школе, за редким исключением, известны с ранней античности.
            Зачатки тригонометрических знаний можно найти в математических рукописях Древнего Египта,
            Вавилона и Древнего Китая. Главным достижением этого периода стало соотношение,
            позже получившее имя теоремы Пифагора; Ван дер Варден считает,
            что вавилоняне открыли его между 2000 и 1786 годами до н. э.
        </p>
        <p>
            Общая и достаточно полная теория геометрии треугольников (как плоских, так и сферических)
            появилась в Древней Греции. В частности, во второй книге „Начал“ Евклида теорема 12 представляет
            собой словесный аналог теоремы косинусов для тупоугольных треугольников.
            Следующая за ней теорема 13 — вариант теоремы косинусов для остроугольных треугольников.
            Свойствами элементов треугольников (углов, сторон, биссектрис и др.) после Евклида занимались Архимед,
            Менелай, Клавдий Птолемей, Папп Александрийский.
        </p>
        <p>
            В IV веке, после упадка античной науки, центр развития математики переместился в Индию.
            Сочинения индийских математиков (сиддханты) показывают, что их авторы были хорошо знакомы с
            трудами греческих астрономов и геометров. Чистой геометрией индийцы интересовались мало,
            но их вклад в прикладную астрономию и расчётные аспекты тригонометрии очень значителен.
        </p>
        <p>
            В VIII веке учёные стран Ближнего и Среднего Востока познакомились с трудами древнегреческих и
            индийских математиков и астрономов. Их астрономические трактаты, аналогичные индийским сиддхантам,
            назывались „зиджи“; типичный зидж представлял собой сборник астрономических и тригонометрических таблиц,
            снабжённый руководством по их использованию и (не всегда) изложением общей теории.
            Сравнение зиджей периода VIII—XIII веков показывает быструю эволюцию тригонометрических знаний.
            Самые ранние из сохранившихся трудов принадлежат ал-Хорезми и ал-Марвази (IX век).
        </p>
        <p>
            Сабит ибн Курра (IX век) и ал-Баттани (X век) первыми открыли фундаментальную теорему синусов для
            частного случая прямоугольного сферического треугольника. Для произвольного сферического треугольника
            доказательство было найдено (разными способами и, вероятно, независимо друг от друга) Абу-л-Вафой,
            ал-Худжанди и ибн Ираком в конце X века. В другом трактате ибн Ирака сформулирована и доказана
            теорема синусов для плоского треугольника.
        </p>
        <p>
            Фундаментальное изложение тригонометрии (как плоской, так и сферической) дал персидский математик и
            астроном Насир ад-Дин ат-Туси в 1260 году. Его „Трактат о полном четырёхстороннике“
            содержит практические способы решения типичных задач, в том числе труднейших, решённых самим ат-Туси.
            Таким образом, к концу XIII века были открыты базовые теоремы,
            необходимые для практической работы с треугольниками.
        </p>
        <p>
            В Европе развитие тригонометрической теории стало чрезвычайно важным в Новое время,
            в первую очередь для артиллерии, оптики и навигации при дальних морских путешествиях.
            В 1551 году появились 15-значные тригонометрические таблицы Ретика, ученика Коперника,
            с шагом 10». Потребность в сложных тригонометрических расчётах вызвала в начале XVII века
            открытие логарифмов, причём первые логарифмические таблицы Джона Непера
            содержали только логарифмы тригонометрических функций.
        </p>
        <p>
            Изучение треугольника продолжилось в XVII веке: была доказана теорема Дезарга (1636),
            открыта точка Торричелли (1640) и изучены её свойства. Джованни Чева доказал свою теорему о
            трансверсалях (1678). Лейбниц показал, как вычислять расстояние от центра тяжести треугольника
            до других его замечательных точек. В XVIII веке были обнаружены прямая
            Эйлера и окружность шести точек (1765).
        </p>
        <p>
            В начале XIX века была открыта точка Жергонна. В 1828 году была доказана теорема Фейербаха.
            К концу XIX века относится творчество Эмиля Лемуана, Анри Брокара, Жозефа Нойберга.
            Окружность девяти точек исследовали Понселе, Брианшон и Штейнер,
            Были обнаружены ранее неизвестные геометрические связи и образы — например, окружность Брокара,
            точки Штейнера и Тарри. В 1860 году Шлёмильх доказал теорему: три прямые,
            соединяющие середины сторон треугольника с серединами его соответствующих высот,
            пересекаются в одной точке. В 1937 году советский математик С. И. Зетель показал,
            что эта теорема верна не только для высот, но и для любых других чевиан.
            Исследования перечисленных выше геометров превратили геометрию треугольника
            в самостоятельный раздел математики.
        </p>
        <p>
            Значительный вклад в геометрию треугольника внёс в конце XIX — начале XX века Фрэнк Морли.
            Он доказал, что геометрическое место центров кардиоид, вписанных в треугольник,
            состоит из девяти прямых, которые, взятые по три, параллельны трём сторонам
            равностороннего треугольника. Кроме того, 27 точек, в которых пересекаются эти девять прямых,
            являются точками пересечения двух трисектрис треугольника, принадлежащих к одной и той же его стороне.
            Наибольшую известность получил частный случай этой теоремы: внутренние трисектрисы углов треугольника,
            прилежащих к одной и той же стороне, пересекаются попарно в трёх вершинах равностороннего треугольника.
            Обобщение этих работ опубликовал Анри Лебег (1940), он ввел n-сектрисы треугольника и
            изучил их расположение в общем виде.
        </p>
        <p>
            С 1830-х годов в геометрии треугольника стали широко использоваться трилинейные координаты точек.
            Активно развивалась теория преобразований — проективное, изогональное, изотомическое и другие.
            Полезной оказалась идея рассмотрения задач теории треугольников на комплексной плоскости.
        </p>
    </div>
</body>
</html>

