<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TwoAdjacentSides</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div th:insert="/elements/menu :: menu"></div>
    <div class="page">
        <h1>Вычисление площади через две стороны и угол</h1>
        <p>
            Чтобы найти площадь треугольника, надо найти полупроизведение двух его сторон на синус угла между ними.
            То есть если известны длины двух сторон треугольника ABC, которые равны a и b, а также угол
            между этими сторонами, то искомая площадь:
        </p>
        <img class="triangle_example" src="/icons/twoadjacentsides.jpg">
        <img class="triangle_example" src="/icons/twoadjacentsides-formula.png">
        <div class="block_input">
            <form method="post" th:action="@{/TwoAdjacentSidesMethod}" th:object="${twoAdjacentSides}">
                <label for="a">Сторона A: </label>
                <input type="number" step="any" th:field="*{a}" id="a" placeholder="Enter a">
                <br><br>
                <label for="b">Сторона В: </label>
                <input type="number" step="any" th:field="*{b}" id="b" placeholder="Enter b">
                <br><br>
                <label for="angle">Смежный угол</label>
                <input type="number" step="any" th:field="*{angle}" id="angle" placeholder="Enter included angle">
                <br><br>
                <button type="submit" class="btn">Count!</button>
            </form>
            <p class="answer" th:utext="${area}"></p>
            <a href="/">Назад на главную</a>
        </div>
    </div>
</body>
</html>

